
@{
    ViewBag.Title = "Index";
}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Usuários</title>

</head>

<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>Lista de Usuários
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100" cellspacing="0">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Login</th>
                        <th>Senha</th>
                        <th>Data Nascimento</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Login</th>
                        <th>Senha</th>
                        <th>Data Nascimento</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (Model.Usuario usuario in ViewBag.Usuario)
                    {
                        <tr>
                            <td>@usuario.Id</td>
                            <td>@usuario.Login</td>
                            <td>@usuario.Senha</td>
                            <td>@usuario.DataNascimento</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>  